<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Running Store</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Running Store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/icons/web-icon-180.png}" type='image/x-icon' sizes="180x180"/>
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nouislider/nouislider.css}">
    <!-- Plugins JS File -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/superfish.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/wNumb.js}"></script>
    <script th:src="@{/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/nouislider.min.js}"></script>
    <script th:src="@{/js/jquery.plugin.min.js}"></script>
    <script th:src="@{/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="page-wrapper">
    <header class="header">
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <a th:href="@{/homePage}" class="logo">
                        <img th:src="@{/images/icons/web-logo.png}" alt="Logo" width="250" height="30">
                    </a>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li>
                                <a th:href="@{/shopPage/{id}(id=1)}" class="sf-with-ul">Shoes</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Men', id=1)}" class="sf-with-ul">Men's
                                            Shoes</a>

                                        <ul>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Nike', id=1)}">Nike</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Adidas', id=1)}">Adidas</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Saucony', id=1)}">Saucony</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Altra', id=1)}">Altra</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Women', id=1)}"
                                           class="sf-with-ul">Women's Shoes</a>

                                        <ul>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Nike', id=1)}">Nike</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Adidas', id=1)}">Adidas</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Saucony', id=1)}">Saucony</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Altra', id=1)}">Altra</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=2)}">GPS Watches</a>
                            </li>
                            <li>
                                <a class="sf-with-ul">Accessories</a>

                                <ul>
                                    <li><a th:href="@{/shopPage/{id}(id=3)}">Bone-conduction earphones</a></li>
                                    <li><a th:href="@{/shopPage/{id}(id=5)}">Running socks</a></li>
                                    <li><a th:href="@{/shopPage/{id}(id=4)}">Running hat</a></li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=6)}" class="sf-with-ul">Clothes</a>

                                <ul>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Men', id=6)}" class="sf-with-ul">Men's
                                            Clothes</a>

                                        <ul>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='T8', id=6)}">T8</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Nike', id=6)}">Nike</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Adidas', id=6)}">Adidas</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Women', id=6)}"
                                           class="sf-with-ul">Women's Clothes</a>

                                        <ul>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='T8', id=6)}">T8</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Nike', id=6)}">Nike</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Adidas', id=6)}">Adidas</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=7)}">Nutrition</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                       required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    <div class="dropdown cart-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false" data-display="static">
                            <i class="icon-user" th:if="${user != null}"
                               style="font-size: 28px; padding-left: 10px;"></i>
                            <span class="wishlist-txt" th:if="${user != null}" th:text="${user.getUsername()}"
                                  style="font-size: 15px;">Login</span>
                        </div>

                        <a class="wishlist-link" th:href="@{/login}" th:if="${user == null}">
                            <span class="wishlist-txt" style="font-size: 15px;">Log in</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right"
                             style="transform: translateX(35%); display: flex; justify-content: center; align-items: center; max-width: 170px;"
                             th:if="${user != null}">
                            <div class="dropdown-item-lead">
                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link"
                                       th:href="@{/user/{username}(username=${user.getUsername()})}">
                                        <span style="font-size: 15px;">Edit Info</span>
                                    </a>
                                </div>

                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link"
                                       th:href="@{/user}">
                                        <span style="font-size: 15px;">Order</span>
                                    </a>
                                </div>

                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/logout}"
                                       th:if="${user != null and user.getUsername() != null}">
                                        <span style="font-size: 15px;">Logout</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                    <div class="dropdown cart-dropdown">
                        <a th:href="@{/cart}" class="dropdown-toggle" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count" th:text="${cartCount}"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-cart-products">
                            </div><!-- End .cart-product -->

                            <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price"
                                      th:text="${#strings.replace(#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT'), ',', '.')}"></span>
                            </div><!-- End .dropdown-cart-total -->

                            <div class="col border-end  d-flex justify-content-center align-items-center">
                                <a th:href="@{/cart}" class="btn btn-primary">View Cart</a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="product-details-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-gallery">
                                        <figure class="product-main-image">
                                            <img th:src="@{${'/images/products/' + product.image}}" alt="Product image" class="product-image">
                                        </figure><!-- End .product-main-image -->
                                    </div><!-- End .product-gallery -->
                                </div><!-- End .col-md-6 -->

                                <div class="col-md-6">
                                    <div class="product-details product-details-sidebar">
                                        <h1 class="product-title" th:text="${product.name}"></h1>
                                        <!-- End .product-title -->

                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <a class="ratings-text" href="#product-review-link" id="review-link">( 2
                                                Reviews )</a>
                                        </div><!-- End .rating-container -->

                                        <div class="product-price" th:text="${#strings.replace(#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT'), ',', '.').concat(' đ')}">
                                        </div><!-- End .product-price -->

                                        <div class="product-content">
                                            <p class="text-justify" th:text="${product.description}"></p>
                                        </div><!-- End .product-content -->

                                        <div class="details-filter-row details-row-size">
                                            <label>Stock:</label>
                                            <p id="stockPlaceholder">0</p>
                                            <label for="size" class="ml-auto">Size:</label>
                                            <div class="select-custom">
                                                <select name="size" id="size" class="form-control" th:data-pid="${product.pid}">
                                                    <option value="" selected="selected">Select a size</option>
                                                    <th:block th:each="size: ${sizes}">
                                                        <option th:text="${size.size}" value="${size.size}"></option>
                                                    </th:block>
                                                </select>
                                            </div><!-- End .select-custom -->
                                        </div><!-- End .details-filter-row -->

                                        <div class="product-details-action">
                                            <div class="details-action-col">
                                                <label for="qty">Quantity:</label>
                                                <div class="product-details-quantity">
                                                    <input type="number" id="qty" class="form-control" value="1" min="1"
                                                           step="1" data-decimals="0" required>
                                                </div><!-- End .product-details-quantity -->

                                                <button id="addToCartBtn" class="btn-product btn-cart">
                                                    <span>ADD TO CART</span>
                                                </button>
                                            </div><!-- End .details-action-col -->
                                        </div><!-- End .product-details-action -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-details-top -->

                        <div class="product-details-tab">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="product-review-link" data-toggle="tab"
                                       href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                       aria-selected="true">Reviews (2)</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-review-tab" role="tabpanel"
                                     aria-labelledby="product-review-link">
                                    <div class="reviews">
                                        <h3>Reviews (2)</h3>
                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">Samanta J.</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 80%;"></div>
                                                            <!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">6 days ago</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>Good, perfect size</h4>

                                                    <div class="review-content">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Ducimus cum dolores assumenda asperiores facilis porro
                                                            reprehenderit animi culpa atque blanditiis commodi
                                                            perspiciatis doloremque, possimus, explicabo, autem fugit
                                                            beatae quae voluptas!</p>
                                                    </div><!-- End .review-content -->

                                                    <div class="review-action">
                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                    </div><!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div><!-- End .review -->

                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">John Doe</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 100%;"></div>
                                                            <!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">5 days ago</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>Very good</h4>

                                                    <div class="review-content">
                                                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam
                                                            laborum blanditiis laudantium iste amet. Cum non voluptate
                                                            eos enim, ab cumque nam, modi, quas iure illum repellendus,
                                                            blanditiis perspiciatis beatae!</p>
                                                    </div><!-- End .review-content -->

                                                    <div class="review-action">
                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                    </div><!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div><!-- End .review -->
                                    </div><!-- End .reviews -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .product-details-tab -->
                    </div><!-- End .col-lg-9 -->

                    <aside class="col-lg-3">
                        <div class="sidebar sidebar-product">
                            <div class="widget widget-products">
                                <h4 class="widget-title">Related Product</h4><!-- End .widget-title -->

                                <div class="products">
                                    <div class="product product-sm">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/products/single/sidebar/1.jpg"
                                                     alt="Product image" class="product-image">
                                            </a>
                                        </figure>

                                        <div class="product-body">
                                            <h5 class="product-title"><a href="product.html">Light brown studded Wide
                                                fit wedges</a></h5><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">$50.00</span>
                                                <span class="old-price">$110.00</span>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product product-sm -->

                                    <div class="product product-sm">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/products/single/sidebar/2.jpg"
                                                     alt="Product image" class="product-image">
                                            </a>
                                        </figure>

                                        <div class="product-body">
                                            <h5 class="product-title"><a href="product.html">Yellow button front tea
                                                top</a></h5><!-- End .product-title -->
                                            <div class="product-price">
                                                $56.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product product-sm -->

                                    <div class="product product-sm">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/products/single/sidebar/3.jpg"
                                                     alt="Product image" class="product-image">
                                            </a>
                                        </figure>

                                        <div class="product-body">
                                            <h5 class="product-title"><a href="product.html">Beige metal hoop tote
                                                bag</a></h5><!-- End .product-title -->
                                            <div class="product-price">
                                                $50.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product product-sm -->

                                    <div class="product product-sm">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="assets/images/products/single/sidebar/4.jpg"
                                                     alt="Product image" class="product-image">
                                            </a>
                                        </figure>

                                        <div class="product-body">
                                            <h5 class="product-title"><a href="product.html">Black soft RI weekend
                                                travel bag</a></h5><!-- End .product-title -->
                                            <div class="product-price">
                                                $75.00
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product product-sm -->
                                </div><!-- End .products -->
                            </div><!-- End .widget widget-products -->

                            <div class="widget widget-banner-sidebar">
                                <div class="banner-sidebar banner-overlay">
                                    <a th:href="@{/shopPageBrand/Adidas}">
                                        <img th:src="@{/images/banners/adidas-banner.png}" alt="banner">
                                    </a>
                                </div><!-- End .banner-ad -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar sidebar-product -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->

            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                 height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna
                                eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cartOld.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                   required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="index.html">Home</a>

                    <ul>
                        <li><a href="index-1.html">01 - furniture store</a></li>
                        <li><a href="index-2.html">02 - furniture store</a></li>
                        <li><a href="index-3.html">03 - electronic store</a></li>
                        <li><a href="index-4.html">04 - electronic store</a></li>
                        <li><a href="index-5.html">05 - fashion store</a></li>
                        <li><a href="index-6.html">06 - fashion store</a></li>
                        <li><a href="index-7.html">07 - fashion store</a></li>
                        <li><a href="index-8.html">08 - fashion store</a></li>
                        <li><a href="index-9.html">09 - fashion store</a></li>
                        <li><a href="index-10.html">10 - shoes store</a></li>
                        <li><a href="index-11.html">11 - furniture simple store</a></li>
                        <li><a href="index-12.html">12 - fashion simple store</a></li>
                        <li><a href="index-13.html">13 - market</a></li>
                        <li><a href="index-14.html">14 - market fullwidth</a></li>
                        <li><a href="index-15.html">15 - lookbook 1</a></li>
                        <li><a href="index-16.html">16 - lookbook 2</a></li>
                        <li><a href="index-17.html">17 - fashion store</a></li>
                        <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                        <li><a href="index-19.html">19 - games store</a></li>
                        <li><a href="index-20.html">20 - book store</a></li>
                        <li><a href="index-21.html">21 - sport store</a></li>
                        <li><a href="index-22.html">22 - tools store</a></li>
                        <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                        <li><a href="index-24.html">24 - extreme sport store</a></li>
                    </ul>
                </li>
                <li>
                    <a href="category.html">Shop</a>
                    <ul>
                        <li><a href="category-list.html">Shop List</a></li>
                        <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                        <li><a href="category.html">Shop Grid 3 Columns</a></li>
                        <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                        <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                class="tip tip-hot">Hot</span></span></a></li>
                        <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                        <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                        <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                class="tip tip-new">New</span></span></a></li>
                        <li><a href="cartOld.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="#">Lookbook</a></li>
                    </ul>
                </li>
                <li>
                    <a href="product.html" class="sf-with-ul">Product</a>
                    <ul>
                        <li><a href="product.html">Default</a></li>
                        <li><a href="product-centered.html">Centered</a></li>
                        <li><a href="product-extended.html"><span>Extended Info<span
                                class="tip tip-new">New</span></span></a></li>
                        <li><a href="product-gallery.html">Gallery</a></li>
                        <li><a href="product-sticky.html">Sticky Info</a></li>
                        <li><a href="Product.html">Boxed With Sidebar</a></li>
                        <li><a href="product-fullwidth.html">Full Width</a></li>
                        <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li>
                            <a href="about.html">About</a>

                            <ul>
                                <li><a href="about.html">About 01</a></li>
                                <li><a href="about-2.html">About 02</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>

                            <ul>
                                <li><a href="contact.html">Contact 01</a></li>
                                <li><a href="contact-2.html">Contact 02</a></li>
                            </ul>
                        </li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="404.html">Error 404</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">Blog</a>

                    <ul>
                        <li><a href="blog.html">Classic</a></li>
                        <li><a href="blog-listing.html">Listing</a></li>
                        <li>
                            <a href="#">Grid</a>
                            <ul>
                                <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Masonry</a>
                            <ul>
                                <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Mask</a>
                            <ul>
                                <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Single Post</a>
                            <ul>
                                <li><a href="single.html">Default with sidebar</a></li>
                                <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="elements-list.html">Elements</a>
                    <ul>
                        <li><a href="elements-products.html">Products</a></li>
                        <li><a href="elements-typography.html">Typography</a></li>
                        <li><a href="elements-titles.html">Titles</a></li>
                        <li><a href="elements-banners.html">Banners</a></li>
                        <li><a href="elements-product-category.html">Product Category</a></li>
                        <li><a href="elements-video-banners.html">Video Banners</a></li>
                        <li><a href="elements-buttons.html">Buttons</a></li>
                        <li><a href="elements-accordions.html">Accordions</a></li>
                        <li><a href="elements-tabs.html">Tabs</a></li>
                        <li><a href="elements-testimonials.html">Testimonials</a></li>
                        <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                        <li><a href="elements-portfolio.html">Portfolio</a></li>
                        <li><a href="elements-cta.html">Call to Action</a></li>
                        <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                   aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                   aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                 aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email"
                                               required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password"
                                               name="singin-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember
                                                Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email"
                                               name="register-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password"
                                               name="register-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy"
                                                   required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a
                                                    href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<script th:inline="javascript">
    var size = "";
    var currentProductId = 0;

    $(document).ready(function() {
        // Call the function on page load
        updateCartDropdown();
    });

    $(document).ready(function () {
        $('#size').on('change', function () {
            var selectedSize = $('option:selected', this).text();
            size = selectedSize;
            var productId = $(this).data('pid');
            currentProductId = productId;
            console.log(selectedSize, productId)
            $.ajax({
                type: "GET",
                url: "/getStock",
                data: {pid: productId, size: selectedSize},
                success: function (response) {
                    // Update the stock placeholder with the response from the server
                    // You can modify this part based on your server response
                    $('#stockPlaceholder').text(response);
                },
                error: function () {
                    console.log('Error fetching stock information.');
                }
            });
        });
    });

    $(document).ready(function () {
        $('#addToCartBtn').on('click', function () {
            // Lấy giá trị quantity từ ô input
            var quantity = $('#qty').val();
            // Kiểm tra nếu quantity và size không rỗng thì gọi hàm addToCart
            if (quantity && size) {
                addToCart(quantity, size);
            } else {
                alert('Please select size and enter quantity.');
            }
        });
    });

    function addToCart(quantity, size) {
        $.ajax({
            type: "POST",
            url: "/addToCart",
            data: { pid: currentProductId, size: size, quantity: quantity },
            success: function(response) {
                console.log(response);
                updateCartDropdown();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
                // Handle error, e.g., show an error message
            }
        });
    }

    function updateCartDropdown() {
        $.ajax({
            type: "GET",
            url: "/updateCartDropdown", // Replace with the actual endpoint to get updated cart information
            success: function(response) {
                // Update the content of the cart dropdown
                $(".dropdown-cart-products").empty(); // Clear existing content

                // Iterate through the updated cart items and append them to the dropdown
                var cartArray = Array.isArray(response.cart) ? response.cart : [];
                cartArray.forEach(function(item) {
                    var formattedPrice = parseFloat(item.price).toLocaleString(undefined, { maximumFractionDigits: 2 });
                    $(".dropdown-cart-products").append(
                        '<div class="product">' +
                        '<div class="product-cart-details">' +
                        '<h4 class="product-title">' + item.name + '</h4>' +
                        '<span class="cart-product-info">' + formattedPrice + '</span>' +
                        '<h5 class="product-title">Quantity: ' + item.quantity + '</h5>' +
                        '<h5 class="product-title">Size: ' + item.size + '</h5>' +
                        '</div>' +
                        '<figure class="product-image-container">' +
                        '<img src="/images/products/' + item.image + '" alt="product">' +
                        '</figure>' +
                        // '<a href="/shopPage/removeItem/' + item.index + '" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>' +
                        '<button class="btn-remove" title="Remove Product" onclick="removeItem(' + item.pid + ', \'' + item.size + '\');"><i class="icon-close"></i></button>' +
                        '</div>'
                    );
                    console.log(item.name)
                });

                // Update the total price in the cart dropdown
                $(".cart-total-price").text(parseFloat(response.total).toLocaleString(undefined, { maximumFractionDigits: 2 }));
                $(".cart-count").text(response.cartCount);
            },
            error: function(xhr, status, error) {
                console.error("Error updating cart dropdown: " + xhr.responseText);
            }
        });
    }

    function removeItem(pid, size) {
        $.ajax({
            type: "GET",
            url: "/removeItem",
            data: { pid: pid, size: size },
            success: function(response) {
                console.log("Stock response:", response);
                updateCartDropdown();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
            }
        });
    }
</script>

</body>
</html>